section.carousel {
  margin: 0px;
  padding: 0px;
  width: 100%;
  position: relative;
}

section.carousel button.back {
  position: absolute;
  left: 24px;
  top: 40%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

section.carousel button.next {
  position: absolute;
  right: 24px;
  top: 40%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


