section.annonces details.dropdowns {
  width: 47%;
}

section.a_propos details.dropdowns {
  width: 100%;
  margin-bottom: 30px;
}

details.dropdowns:nth-child(7) {
  margin-right: 6%;
}

details.dropdowns summary {
  color: white;
  font-size: 18px;
  background-color: #ff6060;
  padding: 15px 20px;
  border-radius: 10px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

details summary img {
  transition: all 0.5s;
}

details:not([open]) summary img {
  transform: rotate(180deg);
}

details.dropdowns p,
details.dropdowns ul {
  color: #ff6060;
  font-size: 18px;
  font-weight: 400;
  background-color: #f6f6f6;
  margin: 0px 0px 0px 0px;
  padding: 20px;
  list-style: none;
  border-radius: 0px 0px 10px 10px;
}
