section.dropdowns {
  display: flex;
  flex-direction: row;
}

@media all and (max-width: 768px) {
  section.dropdowns {
    flex-direction: column;
  }
}

section.dropdowns details {
  width: 47%;
  min-height: 100%;
}

@media all and (max-width: 768px) {
  section.dropdowns details {
    width: 100%;
  }
}

section.dropdowns details:nth-child(1) {
  margin-right: 6%;
}

@media all and (max-width: 768px) {
  section.dropdowns details:nth-child(1) {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

section.dropdowns details summary,
section.a_propos details summary {
  color: white;
  font-size: 18px;
  background-color: #ff6060;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media all and (max-width: 768px) {
  section.dropdowns details summary,
  section.a_propos details summary {
    font-size: 13px;
    padding: 6px 12px;
    border-radius: 5px;
  }
}

section.dropdowns details summary img,
section.a_propos details summary img {
  transition: all 0.5s;
}

section.dropdowns details:not([open]) summary img,
section.a_propos details:not([open]) summary img {
  transform: rotate(180deg);
}

@media all and (max-width: 768px) {
  section.dropdowns details summary img,
  section.a_propos details summary img {
    width: 9px;
    height: 15px;
  }
}

section.dropdowns details p,
section.dropdowns details ul,
section.a_propos details p,
section.a_propos details ul {
  color: #ff6060;
  font-size: 18px;
  font-weight: 400;
  background-color: #f6f6f6;
  margin: 0px 0px 0px 0px;
  padding: 20px;
  list-style: none;
  border-radius: 0px 0px 10px 10px;
}

@media all and (max-width: 768px) {
  section.dropdowns details p,
  section.dropdowns details ul,
  section.a_propos details p,
  section.a_propos details ul {
    font-size: 12px;
    padding: 15px;
  }
}

section.a_propos details {
  width: 80%;
  margin: 0px auto 30px auto;
}

@media all and (max-width: 768px) {
  section.a_propos details {
    width: 100%;
    margin: 0px auto 20px auto;
  }
}
