footer {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 66px 20px 30px 20px;
  margin-top: 30px;
}

footer p {
  padding: 0px;
  margin: 0px;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

@media all and (max-width: 768px) {
  footer p {
    font-size: 12px;
  }
}

footer figure {
  padding: 0px;
  margin: 0px;
}

footer figure img {
  width: 122px;
  height: auto;
  margin-bottom: 30px;
}
