header {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

@media all and (max-width: 768px) {
  header {
    margin: 20px 0px 20px 0px !important;
  }
}

header figure {
  padding: 0px;
  margin: 0px;
}

header img {
  width: 210px;
  height: auto;
}

@media all and (max-width: 768px) {
  header img {
    width: 145px;
  }
}

header ul {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

header ul li:not(:first-child) {
  margin-left: 57px;
}

@media all and (max-width: 768px) {
  header ul li:not(:first-child) {
    margin-left: 10px;
  }
}

header ul li a {
  color: #ff6060;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

@media all and (max-width: 768px) {
  header ul li a {
    font-size: 12px;
  }
}

header ul li a:hover {
  text-decoration: underline;
}
